	html {
		height: 100%;
	}

	body {
		position: relative;
		min-height: 100%;
	}

	footer {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 1rem;
		text-align: center;
		background-color: #222;
	}

	.footerfix {
		height: 11rem;
	}

	#header {
		background-color: #03A8F3;
	}

	#mobile-nav {
		background-color: #03A8F3;
	}

	.is-sticky #header {
		background: #03A8F3;
	}

	body {
		background-color: #fff;
	}

	.sidebar {
		color: #000;
	}

	@media (min-width:768px) {
		.sidebar {
			border-left: 1px solid #e6e6e6;
		}
	}

	.sidebar a {
		color: #000;
	}

	.panel {
		background-color: #e6e6e6;
		padding: 10px;
		border-radius: 15px;
	}

	.breadcrumb {
		background-color: #fff;
	}

	.pager {
		padding-top: 0;
		margin-top: 0;
	}

	.doc-image {
		border: 1px solid #e6e6e6;
		border-radius: 15px;
		margin-bottom: 10px;
	}

	.doc-info {
		font-size: 1.2em;
		text-align: justify;
	}

	a {
		color: #03A8F3;
	}

	.panel a:hover {
		color: #03A8F3;
	}

	.doctors-table thead {
		font-weight: bold;
	}

	.list-img {
		border-radius: 50px;
		width: 70px;
		border: 1px solid #e6e6e6;
	}

	.list-doc h3 {
		font-weight: bold;
		text-transform: uppercase;
	}

	.list-index {
		font-weight: bold;
		padding-top: 15px;
	}

	#map {
		background-color: grey;
		height: 300px;
		width: 100%;
		margin-bottom: 20px;
	}

	.list-doc {
		color: #000;
	}

	@media (max-width: 768px) {
		.list-doc h3 {
			font-size: 20px;
		}
	}

	@media (max-width: 360px) {
		.list-doc h3 {
			font-size: 17px;
		}
	}

	.pager .next button {
		float: right;
	}

	.pager .previous button {
		float: left;
	}

	.btn-default:focus,
	.btn-default:active {
		outline: 0 none;
	}

	#service-desc {
		margin-bottom: 15px;
		font-size: 1.2em;
	}

	#mobile-nav ul .menu-has-children i.fa-chevron-down:hover {
		color: #03C4EB;
	}

	@font-face {
		font-family: 'rainbow';
		src: local("rainbow"), url(../fonts/rainbow-bridge.ttf ) format("truetype");
	}

	#header #logo h1 {
		font-family: 'rainbow';
		text-transform: none;
	}

	.slider .slide img {
		width: 100%;
		height: auto;
	}

	.slick-prev:before,
	.slick-next:before {
		color: black;
	}

	@media (max-width: 768px) {
		.slick-prev,
		.slick-next {
			display: none;
		}
	}

	.p-home {
		margin: 0;
	}

	.home-button {
		display: block;
		margin: auto;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.icon1 {
		color: black;
	}

	.icon2 {
		color: white;
	}

	.icon-home {
		display: block;
		margin: auto;
		margin-bottom: 20px;
	}

	#home-info {
		margin-top: 50px;
		margin-bottom: 50px;
	}
@media (max-width: 768px){
	.home-button {
		display: block;
		margin: auto;
		margin-bottom: 50px;
		margin-top: 20px;
	}
}